@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* # Custom CSS Reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 5px 85px;
    padding-bottom: 85px;
}

.head,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head img {
    width: 250px;
    height: auto;
}

.head ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 28px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 30vw; 
    gap: 8px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: justify;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: #3882F6;
    font-size: 20px;
    font-weight: 900;
    padding: 8px 32px;
    align-self: start;
}

.hero-img img {
    width: 50vw;
    height: auto;
    flex-shrink: 1;
}

.box1 {
    text-align: center;
    padding: 25px 0 80px;
}

.box1 h2 {
    margin-bottom: 32px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.card img {
    border: solid #3882F6;
    border-radius: 20px;
    margin-bottom: 10px;
}

.box2 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 480px;
}

.box2 .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    font-weight: lighter;
}

.box2 .art {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    padding: 50px 350px;
    margin: 80px 0;
}

.cta-text h3 {
    font-size: 24px;
    color: #F7F7F7;
    font-weight: bold;
}

.cta-text p {
    font-size: 18px;
    color: #F7F7F7;
}

.cta-btn button {
    font-size: 24px;
    font-weight: 900;
    background-color: #3882F6;
    color: #F7F7F7;
    border: solid 2px #F7F7F7;
    border-radius: 8px;
    padding: 5px 25px;
    margin-left: 120px;
}